{% extends 'base.html' %}

{% block content %}

    <div class = "col-md-6 offset-md-3">
        <h1>Add Record</h1>
        <br/>
        <form method="POST" action = "{% url 'add_record' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" required>
            </div>
            <div class="mb-3">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <input type="checkbox" id="staff_status" name="staff_status" value="1">
            <label for="staff_status">Staff Status</label><br>
            <button type="submit" class="btn btn-primary">Add</button>

        </form> <br/>
        <a href="{% url 'home' %}" class="btn btn-success">Back</a>
    </div>

{% endblock %}