{% extends 'base.html' %}

{% block content %}
<div class = "col-md-6 offset-md-3">
    <br/>
    {% if user.is_authenticated %}
        <table class="table table-success table-striped">
            <thead>
                <tr>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Details</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% if records %}
                {% for record in records %}
                    <tr>
                    <th scope="row">{{record.id}}</th>
                    <td>{{record.first_name}}</td>
                    <td>{{record.last_name}}</td>
                    <td>{{record.email}}</td>
                    <td><a href="{% url 'record_details' record.id %}">Link</a></td>
                    <td><a href="{% url 'delete_record' record.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table><br/>
        <a href="{% url 'add_record' %}" class="btn btn-success">Add Record</a>

    {% else %}

        <h1>Login</h1>
        <br/>
        <form method="POST" action = "{% url 'home' %}">
            {% csrf_token %}

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>

        </form>

    {% endif %}

</div>
{% endblock %}