<nav class="navbar navbar-expand-lg" style="background-color: #808b96;">
  <div class="container-fluid">
    <a class="navbar-brand text-white fw-bold" href="{% url 'home' %}">CRM</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <span class="navbar-text text-white fw-semibold" style="margin-left: 1cm;">
        Hi {{ user.username }}
      </span>

      {% if user.is_authenticated %}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white fw-semibold" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      {% endif %}
    </div>
  </div>
</nav>
